form {text-align: center;}
body {text-align: center;}
div {text-align: center; justify-content: center;}
#search{
    margin-right:auto;
    margin-left:auto;
    width:100px; 
}
#button{
    margin-right:auto;
    margin-left:auto;
    width:100px; 
}
input[type="text"]
{
    text-align: center;
    font-family: fantasy;
    font-size: 25px
}
input[type="search"]
{
    text-align: center;
    font-family: fantasy;
    font-size: 30px
}

input[type="number"]
{
    font-family: fantasy;
    font-size: 25px
}
input[type="range"] {
    justify-content: center;
    width:300px;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
a {text-align: center;}
