form {text-align: center;}
body {text-align: center; background-color: rgb(136,28,28);}
div {text-align: center; justify-content: center;}
h1 {color:black;}
h3 {color:black; font-size: 55px;}
h5 {color:black; font-size: 45px;}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

    .btn-xlarge-left {
        float: left;
        padding: 18px 28px;
        font-size: 22px;
        line-height: normal;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
        }
      
        .btn-xlarge-right {
          float: right;
          padding: 18px 28px;
          font-size: 22px;
          line-height: normal;
          -webkit-border-radius: 8px;
             -moz-border-radius: 8px;
                  border-radius: 8px;
          }

.list-group-item{
    color: black;
}

.center{
    font-size: 45px;
}

.card-group{
    position:fixed; bottom:0; width: 100%; height: 43%;
}

.rightBox{
    width: 18rem; text-align: center; border-color: black; float: right;
}
input[type="text"]
{
    text-align: center;
    font-family: fantasy;
    font-size: 25px
}
input[type="search"]
{
    text-align: center;
    font-family: fantasy;
    font-size: 30px
}

input[type="number"]
{
    font-family: fantasy;
    font-size: 25px
}
input[type="range"] {
    color: black;
    justify-content: center;
    width:300px;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
a {text-align: center;}
