form {text-align: center;}
body {text-align: center; background-color: rgb(136,28,28);}
div {text-align: center; justify-content: center;}

.login {
    width: 18rem;
    text-align: center;
    border-color: black;
}

.btn-xlarge-left {
    float: left;
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }